<?xml version="1.0" encoding="utf-8"?>
<manifest package="dt.call.aclient"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- First run server information screen -->
        <activity
            android:name=".screens.InitialServer"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- First run user information screen -->
        <activity
            android:name=".screens.InitialUserInfo"
            android:label="@string/initial_user_title"
            android:parentActivityName=".screens.InitialServer">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screens.InitialServer"/>
        </activity>

        <!-- User main/home screen -->
        <activity
            android:name=".screens.UserHome"
            android:label="@string/app_name"
            android:launchMode="singleTop">
        </activity>

        <!-- Handles resign-in when internet dies and when the socket dies -->
        <receiver android:name=".background.BackgroundManager">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="cmd_dead"/>
            </intent-filter>
        </receiver>

        <!-- Listens for commands/responses from the server and reacts appropriately -->
        <service
            android:name=".background.CmdListener"
            android:exported="false"/>
        
        <!-- Call audio playback service-->
        <service
            android:name=".background.MediaFromServer"
            android:exported="false"
            />
        
        <!-- Call voice recorder service -->
        <service
            android:name=".background.Media2Server"
            android:exported="false"
            />
        
        <!-- Voice call screen -->
        <activity
            android:name=".screens.CallMain"
            android:label="@string/call_main_title"
            android:launchMode="singleTop"
            android:parentActivityName=".screens.UserHome">
        </activity>

        <!-- Incoming call screen -->
        <activity
            android:name=".screens.CallIncoming"
            android:label="@string/call_incoming_title"
            android:launchMode="singleTop">
        </activity>

    </application>

</manifest>
